
@{
    ViewBag.Title = "AdminPanel";
}
<h4>ADMIN PANEL</h4>
<br />
<div>
    <div>
        @Html.ActionLink("Add Product", "AddProduct", "Product")
    </div>
    <br />
    <div>
        @Html.ActionLink("Add Attribute", "AddAttribute", "Product")
    </div>
    <br />
    <div>
        @Html.ActionLink("Add Attribute to Product", "AddAttributeToProduct", "Product")
    </div>
    <br />
    <div>
        @Html.ActionLink("List the Attibutes of the Products", "ProductAndAttributeList", "Product")
    </div>
</div>

